<div class="mx-4 my-3">
  <p class="text-2xl font-medium">View History</p>
</div>


<div class="custom-form-container rounded-xl flex flex-col items-start gap-4 mx-4 my-3 border-none">
  <div class="group-button-container grid w-full grid-cols-2 gap-2">
    <button
      class="form-button w-full h-12 flex items-center justify-center gap-2 text-sm font-medium text-center rounded-xl px-3 py-2.5"
      matRipple matRippleColor="#ffffff80"
      [ngClass]="chooseTab == 1 ? 'bg-[#19a29c] text-white' :' bg-transparent border-gray-500 text-[#19a29c] border'"
      (click)="chooseTab = 1">
      Node reward </button>

    <button
      class="form-button w-full h-12 flex items-center justify-center gap-2 text-sm font-medium text-center rounded-xl px-3 py-2.5"
      matRipple matRippleColor="#ffffff80"
      [ngClass]="chooseTab == 2 ? 'bg-[#19a29c] text-white' :' bg-transparent border-gray-500 text-[#19a29c] border'"
      (click)="chooseTab = 2">
      Savings reward</button>
  </div>

  <ng-container *ngIf="chooseTab == 1">
    <ng-container *ngIf="!(account && data.length)">
      <div class="min-h-40 flex items-center justify-center w-full">
        <div>
          <div class="my-5">
            <img src="/assets/images/no-data.svg" alt="">
          </div>
          <p class="my-5 text-center">
            No data
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(account && data.length)">
      <div class="flex items-center justify-between w-full gap-3" *ngFor="let item of data">
        <div>
          {{ account.slice(0, 5) }}...{{ account.slice(-5) }}
        </div>

        <div>
          <p class="text-green-500">+{{ item.amount | number: '1.5-5'}} ETH</p>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="chooseTab == 2">
    <ng-container *ngIf="!(account && data)">
      <div class="min-h-40 flex items-center justify-center w-full">
        <div>
          <div class="my-5">
            <img src="/assets/images/no-data.svg" alt="">
          </div>
          <p class="my-5 text-center">
            No data
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(account && data)">
      <div class="flex items-center justify-between w-full gap-3" *ngFor="let item of data">
        <div>
          {{ account.slice(0, 5) }}...{{ account.slice(-5) }}
        </div>

        <div>
          <p class="text-green-500">+{{ item.amount | number: '1.5-5' }} ETH</p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>