<div class="bg-[#eef3f2]">
  <div class="px-4 py-3">
    <p class="text-2xl font-medium">
      Select Language
    </p>
  </div>

  <div class="select-language-body">
    <div class="select-language-item active"><span>English</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-checked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 5a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5">
        </path>
      </svg></div>
    <div class="select-language-item"><span>繁體中文</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>日本語</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>ไทย</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>Italiani</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>Español</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>Français</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>한국어</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
    <div class="select-language-item"><span>Indonesian</span><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
        data-icon="mdi:radio-button-unchecked">
        <path fill="currentColor"
          d="M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2">
        </path>
      </svg></div>
  </div>
</div>