<div mat-dialog-content>
  <div class="relative h-10">
    <p class="relative text-lg font-medium text-left font-robo top-[12px] px-5">
      Announcement
    </p>
    <div
      class="absolute top-[6px] right-[10px] cursor-pointer w-10 h-10 flex items-center justify-center z-40 hover:bg-[#70707014] dark:hover:bg-[#a0aebc33] active:bg-[#70707014] dark:active:bg-[#a0aebc33] rounded-full p-2"
      (click)="onNoClick()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>

    </div>
  </div>
</div>
<div class="p-3 mt-3">
  <div class="max-h-[400px] overflow-auto">
    <div>
      <img src="/assets/images/welcome.png" class="min-h-[300px]" alt="">

      <p class="mt-3 font-medium text-center">Node Reward Rate</p>
      <p class="text-gray-500">More Detail please contact Customer Service</p>
    </div>
  </div>

  <div class="w-full mt-6">
    <button
      class="bg-violet-600 focus:border-0 focus:outline-none hover:bg-violet-700 w-full py-3 mr-2 text-sm font-medium text-white rounded-lg"
      matRipple matRippleColor="#ffffff80" (click)="onNoClick()">
      <div class="flex items-center justify-center gap-1">
        <span class="text-md">
          Confirm
        </span>
      </div>
    </button>
  </div>
</div>