::ng-deep {
  body,
  html {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0 50px white inset;
  }

  pdf-viewer {
    display: block;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .partner-wrapper-header {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .line-left {
    background: linear-gradient(90deg, #1a1b1a 0%, #19a29c 100%);
    flex: 1;
    height: 1px;
    width: 100%;
  }

  .line-right {
    background: linear-gradient(90deg, #19a29c 0%, #1a1b1a 100%);
    flex: 1;
    height: 1px;
    width: 100%;
  }

  .lifestyle-dashboard-v3 .tips-wrapper-card-group-item-img > img {
    width: 100%;
    height: 100%;
  }

  .lifestyle-dashboard-v3 * {
    color: #fff;
  }

  #fixedbutton {
    background: #19a29c;
    color: #fff;
    border-radius: 50%;
    z-index: 98;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20vw;

    .iconify {
      font-size: 32px;
    }
  }

  .partner-wrapper-body {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }

  .partner-wrapper-body-image-box {
    display: flex;
    gap: 12px;
    width: max-content;
    animation: scroll-marquee 10s linear infinite;
  }

  .partner-wrapper-body-image-box::after {
    content: "";
    display: flex;
    width: 100%;
  }

  .partner-wrapper-body:hover .partner-wrapper-body-image-box {
    animation-play-state: paused;
  }

  .partner-wrapper-body-image-box-item {
    flex: 0 0 auto;
  }

  .qna-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 16px;
    .qna-item {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px;
      gap: 16px;
      background: #fff;
      border: none;
      border-radius: 12px;
      .content-image {
        width: 64px;
        height: 64px;
        border-radius: 16px;
        background: #f4f9f8;
        box-shadow: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }

      .content-body {
        width: calc(100% - 72px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        .title {
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.48px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          margin-bottom: 0 !important;
        }
        .subtitle {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.48px;
          color: #8c96ab;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          height: 30px;
          margin-top: 0 !important;
        }
      }
    }
  }

  .select-language-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 20px;
    .select-language-item {
      width: 100%;
      margin-bottom: 16px;
      background: #fff;
      box-shadow: none;
      border: none;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      gap: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.48px;
      &.active {
        span {
          color: #19a29c;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .help-center-intro-body {
    padding: 0 20px;
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      padding: 20px;
      background: #fff;
      box-shadow: none;
      border: none;
      border-radius: 12px;
      .content-image {
        border-radius: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }
      .content-title {
        font-weight: 600;
        font-size: 16px;
        color: #1a1b1a;
      }
      .content-subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #8c96ab;
      }
    }
  }

  @keyframes scroll-marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }

  @media only screen and (max-width: 1024px) {
    .set-transform {
      transform: translate3d(-120px, 50px, 0px) !important;
    }
    .set-transform-account {
      transform: translate3d(-180px, 50px, 0px) !important;
    }
  }
}
