<div
  class="bg-[#1a1b1a] px-1.5 py-2 fixed left-0 bottom-0 w-full sm:px-6 md:px-8 text-white"
>
  <div class="flex flex-row justify-between">
    <div
      class="flex flex-col items-center flex-1"
      routerLink="/home"
      routerLinkActive="text-[#19a29c]"
    >
      <svg
        _ngcontent-ng-c348689582=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
        data-v-21f2986d=""
        data-icon="fluent:home-24-regular"
        class="relative inline-block w-6 h-6"
      >
        <g _ngcontent-ng-c348689582="" fill="none">
          <path
            _ngcontent-ng-c348689582=""
            d="M10.55 2.532a2.25 2.25 0 0 1 2.9 0l6.75 5.692c.507.428.8 1.057.8 1.72v9.803a1.75 1.75 0 0 1-1.75 1.75h-3.5a1.75 1.75 0 0 1-1.75-1.75v-5.5a.25.25 0 0 0-.25-.25h-3.5a.25.25 0 0 0-.25.25v5.5a1.75 1.75 0 0 1-1.75 1.75h-3.5A1.75 1.75 0 0 1 3 19.747V9.944c0-.663.293-1.292.8-1.72l6.75-5.692zm1.933 1.147a.75.75 0 0 0-.966 0L4.767 9.37a.75.75 0 0 0-.267.573v9.803c0 .138.112.25.25.25h3.5a.25.25 0 0 0 .25-.25v-5.5c0-.967.784-1.75 1.75-1.75h3.5c.966 0 1.75.783 1.75 1.75v5.5c0 .138.112.25.25.25h3.5a.25.25 0 0 0 .25-.25V9.944a.75.75 0 0 0-.267-.573l-6.75-5.692z"
            fill="currentColor"
          ></path>
        </g>
      </svg>

      <div class="text-[10px] mt-[3px]">Home</div>
    </div>

    <div
      class="flex flex-col items-center flex-1"
      routerLink="/account"
      routerLinkActive="text-[#19a29c]"
    >
      <svg
        _ngcontent-ng-c348689582=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 256 256"
        data-v-21f2986d=""
        data-icon="ph:wallet-light"
        class="relative inline-block w-6 h-6"
      >
        <path
          _ngcontent-ng-c348689582=""
          d="M216 74H56a10 10 0 0 1 0-20h136a6 6 0 0 0 0-12H56a22.025 22.025 0 0 0-22 22v128a22.025 22.025 0 0 0 22 22h160a14.016 14.016 0 0 0 14-14V88a14.016 14.016 0 0 0-14-14zm2 126a2.003 2.003 0 0 1-2 2H56a10.012 10.012 0 0 1-10-10V83.593A21.857 21.857 0 0 0 56 86h160a2.003 2.003 0 0 1 2 2zm-28-56a10 10 0 1 1-10-10a10 10 0 0 1 10 10z"
          fill="currentColor"
        ></path>
      </svg>

      <div class="text-[10px] mt-[3px]">Account</div>
    </div>

    <div
      class="flex flex-col items-center flex-1"
      routerLink="/history"
      routerLinkActive="text-[#19a29c]"
    >
      <svg
        _ngcontent-ng-c348689582=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
        data-v-21f2986d=""
        data-icon="fluent:history-24-regular"
        class="relative inline-block w-6 h-6"
      >
        <g _ngcontent-ng-c348689582="" fill="none">
          <path
            _ngcontent-ng-c348689582=""
            d="M12 3a9 9 0 1 1-8.963 8.182a.75.75 0 1 1 1.494.135a7.46 7.46 0 0 0 2.166 5.986A7.46 7.46 0 0 0 12 19.5A7.5 7.5 0 1 0 5.997 7.502h2.756a.75.75 0 0 1 .102 1.493l-.102.007H4.25a.75.75 0 0 1-.743-.648L3.5 8.252v-4.5a.75.75 0 0 1 1.493-.102L5 3.752l-.001 2.591A8.986 8.986 0 0 1 12 3zm-.75 4a.75.75 0 0 1 .743.648L12 7.75V12h2.25a.75.75 0 0 1 .102 1.493l-.102.007h-3a.75.75 0 0 1-.743-.648l-.007-.102v-5a.75.75 0 0 1 .75-.75z"
            fill="currentColor"
          ></path>
        </g>
      </svg>

      <div class="text-[10px] mt-[3px]">History</div>
    </div>
  </div>
</div>
